<div class="container">
    <!-- <ul class="nav nav-tabs row">
        <li role="presentation" class="dropdown col-xs-4 col-md-4">
            <a class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['/admin/edit/design']" role="button" aria-haspopup="true"
                aria-expanded="false">
                <span class="glyphicon glyphicon-edit"></span>
                &nbsp;设计问卷
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-font"></span>&nbsp;单选题</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-th"></span>&nbsp;多选题</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-unchecked"></span>&nbsp;简答题</a>
                </li>
            </ul>
        </li>
        <li class="col-xs-4 col-md-4">
            <a [routerLink]="['/admin/edit/analyse']">
                <span class="glyphicon glyphicon-object-align-bottom"></span>
                &nbsp;结果分析</a>
        </li>
        <li class=" col-xs-4 col-md-4">
            <a [routerLink]="['/admin/edit/preview']">
                <span class="glyphicon glyphicon-eye-open"></span>
                &nbsp;问卷预览</a>
        </li>
    </ul> -->
    <router-outlet></router-outlet>
</div>