<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <img src="../../../../assets/img/make_2.jpg" alt="Join us!">
        <div class="caption">
          <h3 class="text-center">
            空白问卷
          </h3>
          <p>空白问卷!</p>
          <a class="btn btn-info btn-block btn-lg" role="button" routerLink="/admin/blank">
            <span class="glyphicon glyphicon-plus-sign"></span>
            创建
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="thumbnail">
        <img src="../../../../assets/img/make_2.jpg" alt="Join us!">
        <div class="caption">
          <h3 class="text-center">
            模版问卷
          </h3>
          <p>模版问卷!</p>
          <button class="btn btn-info btn-block btn-lg" role="button" disabled>
            <span class="glyphicon glyphicon-plus-sign"></span>
            创建
          </button>
        </div>
      </div>
    </div>
  </div>
</div>