<div class="alert alert-success alert-dismissable" [hidden]="successMsg === ''">
  <button type="button" class="close" data-dismiss="alert" (click)="hide('success')">
    &times;
  </button>
  {{successMsg}}
</div>
<div class="alert alert-info alert-dismissable" [hidden]="infoMsg === ''">
  <button type="button" class="close" data-dismiss="alert" (click)="hide('info')">
    &times;
  </button>
  {{infoMsg}}
</div>
<div class="alert alert-warning alert-dismissable" [hidden]="warningMsg === ''">
  <button type="button" class="close" data-dismiss="alert" (click)="hide('warning')">
    &times;
  </button>
  {{warningMsg}}
</div>
<div class="alert alert-danger alert-dismissable" [hidden]="dangerMsg === ''">
  <button type="button" class="close" data-dismiss="alert" (click)="hide('danger')">
    &times;
  </button>
  {{dangerMsg}}
</div>
